<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card card-default">
                    <div class="card-header">Register</div>

                    <div class="card-body">
                        <form>
                         <div class="form-group row">
                            <label for="name" class="col-md-4 col-form-label text-md-right">Name</label>

                            <div class="col-md-6">
                                <input id="name" type="text" class="form-control" v-model="register.name" value="" required autofocus>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-md-4 col-form-label text-md-right">Email</label>

                            <div class="col-md-6">
                                <input type="email" class="form-control" v-model="register.email">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-md-4 col-form-label text-md-right">Role</label>

                            <div class="col-md-6">
                                <select class="form-control" v-model="register.role">
                                     <option>...</option>
                                    <option value="Contest owner">Contest owner</option>
                                    <option value="Team owner">Team owner</option>
                                    <option value="player">player</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="password" class="col-md-4 col-form-label text-md-right">Password</label>

                            <div class="col-md-6">
                                <input id="password" type="password" class="form-control" v-model="register.password" required>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="password-confirm" class="col-md-4 col-form-label text-md-right">Confirm Password</label>

                            <div class="col-md-6">
                                <input id="password-confirm" type="password" class="form-control" v-model="register.password_confirmation" required>
                            </div>
                        </div>
                        <div class="form-group row mb-0">
                            <div class="col-md-6 offset-md-4">
                                <a class="btn btn-primary" @click="createRegister()">
                                    Register
                                </a>
                            </div>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        mounted() {
            console.log('Component mounted.')
        },

    data() {
            return {
                register: {
                    name: '',
                    email: '',
                    role: '',
                    password: '',
                    password_confirmation: '',
                },

            }
        },

        methods:{
            createRegister() {

                axios.post('register', this.register).then(result => {
                    console.log(result);
                    this.register.name = '';
                    this.register.email = '';
                    this.register.role = '';
                    this.register.password = '';
                    this.register.password_confirmation = '';
                    alert('Registration Seccessfull!!!');
                }).catch(err => {
                    console.log(err);
                });
            },
        }

    }
</script>
