<template>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">Login</div>

                <div class="card-body">
                    <form>

                        <div class="form-group row">
                            <label for="email" class="col-sm-4 col-form-label text-md-right">E-Mail Address</label>

                            <div class="col-md-6">
                                <input id="email" type="email" class="form-control" v-model="login.email" required autofocus>

                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="password" class="col-md-4 col-form-label text-md-right">Password</label>

                            <div class="col-md-6">
                                <input id="password" type="password" class="form-control" v-model="login.password" required>
                            </div>
                        </div>

                        <div class="form-group row mb-0">
                            <div class="col-md-8 offset-md-4">
                                <a type="submit" class="btn btn-primary" @click="loginUser()">
                                   Login
                                </a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</template>
<script>
    export default {
        mounted() {
            console.log('Component mounted.')
        },

        data() {
            return {
                login: {
                    email: '',
                    password: '',
                },
            }
        },

        methods:{
            loginUser() {
                alert(this.login.password);
                axios.post('login', this.register).then(result => {
                    console.log(result);
                    this.register.email = '';
                    this.register.password = '';
                }).catch(err => {
                    console.log(err);
                });
            },
        }

    }
</script>
